// =============================================================================
// Application variables
// =============================================================================

$black: #000A0F;
$blue-1: #ACBFCC;
$blue-2: #7090A8;
$blue-3: #688CA5;
$blue-4: #4C7694;
$blue-5: #467595;
$blue-6: #0A5483;

// =============================================================================
// Bootstrap variables
// =============================================================================
$bootstrap-sass-asset-helper: false;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee

$brand-primary: #0C5584;
$brand-secondary: $blue-3;

$body-bg: #F6F6F6;
$text-color: $gray-dark;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$font-family-sans-serif: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 18px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
// $font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-small: ceil(($font-size-base * 0.78)); // ~12px

$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.8)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.6)); // ~18px
$font-size-h5: ceil(($font-size-base * 1.25)); // ~18px
// $font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 1.00)); // ~12px


$line-height-base: 1.428571429;
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: normal;
$headings-line-height: 1.2;
$headings-color: #2F2F2F;

$line-height-large: 1.3333333;
$line-height-small: 1.5;

$container-desktop: 900px;
$container-md: $container-desktop;
$container-large-desktop: 960px;
$container-lg: $container-large-desktop;

$grid-columns: 24;
$grid-gutter-width: 60px;