@import 'variables';
@import 'mixins';
@import 'fonts';
// @import 'global';

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

.padding-bottom {
	padding-bottom: 5%;
	@include max-screen-height(900px) { padding-bottom: 4%; }
	@include max-screen-height(600px) { padding-bottom: 3%; }
	@include min-screen-width(900px) { padding-bottom: 70px; }
	@include max-screen-width(768px) { padding-bottom: 30px; }
}

.padding-top {
	padding-top: 5%;
	@include max-screen-height(900px) { padding-top: 4%; }
	@include max-screen-height(600px) { padding-top: 3%; }
	@include min-screen-width(900px) { padding-top: 70px; }
	@include max-screen-width(768px) { padding-top: 30px; }
}

.padding {
	@extend .padding-top;
	@extend .padding-bottom;
}


html {
	height: 100%;
	overflow-x: hidden;
}

body {
	margin:0;
	padding:0;
	perspective: 1px;
	// transform-style: preserve-3d;
	height: 100%;
	overflow: scroll;

}

header, section {
	position: relative;
	overflow: hidden;
	.content, .container, .padding-y { position: relative; }
	.content { z-index: 10; }
}

.triangle { position: absolute; }

.download {
	@include rounded(4px);
	background-color: #4A90E2;
	background-repeat: no-repeat;
	border-bottom: 4px solid #2F6DB5;
	color: #FFF;
	display: inline-block;
}

header {
	.container {
		position: relative;
		// img {
		// 	position: relative;
		// 	z-index: 1;
		// }
		.download {
			background-image:image-url('apple-icon.png');
			background-position: 10px 50%;
			text-transform: uppercase;
			position: absolute;
			top: 20px;
			right: 20px;
			padding: 5px 10px 5px 30px;
			z-index: 5;
		}
	}
	.triangle {
		left: 50%;
		top: 0;
		margin-left: -321px;
		transform: translateZ(.25px);
	}
}

#build {
	background-color: $black;
	z-index: 20;
	h2 {
		color: $blue-1;
	}
	p {
		color: #F6F6F6;
	}
	.triangle-top, .triangle-bottom {
		left: 50%;
		margin-left: -400px;
	}
	.triangle-top {
		top: 0;
		transform: translateZ(.2px);
	}
	.triangle-bottom {
		bottom: 0;
		transform: translateZ(.2px) rotate(180deg);
	}
}

#smart {
	background-color: #DFEAF0;
	min-height: 600px;
	h2 {
		color: $black;
	}
	.download {
		background-image: image-url('apple-icon-big.png');
		background-position: 20px 50%;
		padding: 20px 20px 20px 70px;
		text-align: left;
		span {
			font-size: 1.5em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	img { max-width: 100%; }
	.triangle-top-left {
		top: -100px;
		left: 0;
		transform: translateZ(.2px);
	}
	.triangle-top-right {
		top: -100px;
		right: 0;
		transform: translateZ(.2px) rotate(90deg);
	}
	.triangle-bottom-left {
		bottom: -100px;
		left: 0;
		transform: translateZ(.2px) rotate(270deg);
	}
	.triangle-bottom-right {
		bottom: -100px;
		right: 0;
		transform: translateZ(.2px) rotate(180deg);
	}
}

#solidity {
	background: #FFF;
	h2 {
		color: #0A5483;
		margin-bottom: 30px;
		strong {
			border-bottom: 1px solid #0A5483;
			padding-bottom: 10px;
		}
	}
	.builds {
		@include rounded(4px);
		box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
		background: $blue-2;
		max-width: 760px;
		margin: 0 auto;
		padding: 30px 20px 20px;
		i {
			color: rgba(255, 255, 255, 0.8);
			font-size: 100px;
		}
	}
	.triangle {
		left: 50%;
		top: -224px;
		margin-left: -563.5px;
		transform: translateZ(.2px);
	}
	h5 {
		color: white;
	}
}

footer {
	background: $black;
	font-size: .8em;
	* {
		color: #ECECEC;
	}
	.list-inline {
		// @include rounded(4px);
		// // display: flex;
		// text-align: center;
		// background: $blue-1;
		a {
			color: #FFF;
			display: block;
			padding: 5px;
			text-decoration: none;
			i { color: rgba( 255, 255, 255, 0.5); }
			&:hover, &:active, &:visited {
				color: rgba( 255, 255, 255, 0.5);
			}
		}
	}
}